body {
    background-color:slategrey;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     }
  h1 {
     color:red;
     font-family: Arial, Helvetica, sans-serif;
  }
  h3 {
     color:darkblue;
  font-family: 'Courier New', Courier, monospace;
  }
  .item-image{
      width: 300px;
      height: 300px;
  }
  a {
   text-decoration: none;
   color: black;
   padding: 10px 15px;
   }
  a:hover {
   text-decoration: none;
   color: black;
   cursor: pointer;
   background-color: white;
   }
   .item {
 margin: 40px;
}

.item-title {
 display: block;
 width: 100%;
 text-align: center;
 font-weight: bold;
 font-size: 1.5em;
 color: #333;
 margin-bottom: 15px;
}

.item-image {
 height: 250px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.item-price {
 text-align: center;
 color: #333;
}
.div1{
    text-align: right;
    width: 100%;
    height: 50px;
    color:black;
}

